body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(225, 122, 168);
    margin: 0;
}

.header_text {
    font-family: 'Nunito', sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.button_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

/* Common Button Styles */
.btn {
    padding: 20px 40px; /* Increased padding for larger buttons */
    font-size: 20px; /* Increased font size */
    font-family: 'Nunito', sans-serif;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 20px; /* Controls spacing between buttons */
}

/* Yes Button */
#yesButton {
    background-color: white;
    color: rgb(240, 6, 6);
}

#yesButton:hover {
    background-color: rgb(236, 239, 233);
}

#yesButton:active {
    transform: scale(0.98);
}

#yesButton:focus {
    outline: none;
}

/* No Button */
#myButton {
    background-color: rgb(236, 239, 233);
    color: black;
}

#myButton:hover {
    background-color: rgb(251, 241, 241);
}

#myButton:active {
    transform: scale(0.98);
}

#myButton:focus {
    outline: none;
}
